In [102]:
# 데이터 유형
## 숫자

a=3
b=5
print(a+b)

8

In [103]:
## 문자열

name = "은빈"
greeting = "Hello, " + name # 문자열 합치기
print(greeting)

Hello, 은빈

In [104]:
## 리스트 (여러 개의 값을 순서대로 모은 자료형)
### 각 값은 인덱스(순서)로 접근할 수 있음

var_a = "1", "2", "3", "4", "5"
print(var_a[0]) #리스트에서 첫 번째 값
print(var_a[3]) #리스트에서 네 번째 값

1
4

In [105]:
## 튜플 (리스트와 유사하나 데이터 변경 불가)

var_b = (10, 20)
print(var_b)

(10, 20)

In [106]:
## 딕셔너리 (키와 값을 쌍으로 묶어서 저장하는 자료형)
### 키를 사용하여 값을 조회할 수 있음

var_c= {"이름" : "서은빈", "학번" : "C331296"}
print(var_c["이름"])
print(var_c["학번"])

서은빈
C331296

In [107]:
## 집합 (중복된 값이 없는 자료형)
### 순서가 없고 모든 값이 유일-중복된 값 자동으로 제거해줌

var_d= {1, 2, 3, 3, 4, 5}
print(var_d) #중복값 제거

{1, 2, 3, 4, 5}

In [108]:
## 불린 (참과 거짓 값을 나타내는 자료형)
### 주로 조건문에서 사용됨

is_valid = True
is_approved = False

if is_valid :
    print("valid")

else :
    print("Invalid")

valid

In [109]:
# none (값이 없음을 나타내는 특수한 자료형)
### 어떤 변수에 값이 아직 장해지지 않았을 때 사용

result = None
if result is None:
    print("결과가 없습니다")

결과가 없습니다

In [110]:
# mutable (원소의 수정 가능한 자료형)
### 리스트(List), 딕셔너리(Dictionary)

## : 리스트
x_list= ["abcde", 12345]
print(f'Before: {x_list=}') # 원소 변경 전
x_list[1]= "fghij" # 인덱스 1 원소를 변경
print(f'After: {x_list=}') # 원소 변경 후

Before: x_list=['abcde', 12345]
After: x_list=['abcde', 'fghij']

In [111]:
## : 딕셔너리
x_dict= {"name" : "서은빈", "생년월일" : 20030621, "과목" : "기업과 경영"}
print(f'Before : {x_dict=}') # 원소 변경 전
x_dict["과목"] = "비즈니스 프로그래밍" # key가 "과목"인 원소를 변경
print(f'After : {x_dict=}') # 원소 변경 후

Before : x_dict={'name': '서은빈', '생년월일': 20030621, '과목': '기업과 경영'}
After : x_dict={'name': '서은빈', '생년월일': 20030621, '과목': '비즈니스 프로그래밍'}

In [112]:
# immutable (원소의 수정이 불가능한 자료형)
### 문자열(String), 튜플(Tuple)

## : 문자열-> 원소 바꾸기 불가
### try~except 구문 (에러 발생시, 커널을 중지시키기 때문에 중지되지 않도록 사용함)

x_str= "abcde"
print(f'Before:{x_str}')

try:
    x_str[1] = "2" # 인덱스 1 원소를 "2"로 변경 but 문자열은 immutable
except TypeError as e: # 에러 발생시 에러 메세지를 e에 할당당
    print(f'Error : {e}')

print(f'After : {x_str=}')

Before:abcde
Error : 'str' object does not support item assignment
After : x_str='abcde'

In [113]:
## : 튜플-> 원소 바꾸기 불가

x_tuple= {"abcde", 12345}
print(f'Before:{x_tuple}')

try:
    x_tuple[1] = "fghij" # 인덱스 1 원소를 "2"로 변경 but 문자열은 immutable
except TypeError as e: # 에러 발생시 에러 메세지를 e에 할당당
    print(f'Error : {e}')

print(f'After : {x_tuple=}')

Before:{12345, 'abcde'}
Error : 'set' object does not support item assignment
After : x_tuple={12345, 'abcde'}

In [114]:
# 자료형 변환
## 단일 자료형 변환 함수

### int() : 정수형으로 전환
### float() : 실수형으로 전환
### str() : 문자열로 전환

var_x = 12345
print(f"{var_x}는 {type(var_x)}", end="\n" + "-" *50 + "\n")

var_y = float(var_x)
print(f"{var_y}는 {type(var_y)}", end="\n" + "-" *50 + "\n")

var_y = str(var_x)
print(f"{var_y}는 {type(var_y)}", end="\n" + "-" *50 + "\n")

var_y = bool(var_x)
print(f"{var_y}는 {type(var_y)}")

12345는 <class 'int'>
--------------------------------------------------
12345.0는 <class 'float'>
--------------------------------------------------
12345는 <class 'str'>
--------------------------------------------------
True는 <class 'bool'>

In [115]:
## iterable 자료형 변환 함수 (반복 가능한 자료형)
## list() : 리스트로 변환
## tuple() : 튜플로 변환
## dict() : 딕셔너리로 변환
## set() : 집합으로 변환

## range()함수 (연속된 정수를 생성하는 함수로서 iterable 자료형 변환)
### range(시작, 끝, 증가폭)
### 시작은 포함, 끝은 미포함
### 증가폭은 생략 가능하며, 생략시 1로 설정

var_x = range(-10, 0, 2) # var_x에 -10부터 0까지 2씩 증가하는 range 객체
print(f"{var_x}는 {type(var_x)}", end="\n" + "-" *50 + "\n")

var_y = list(var_x) # var_y에 var_x의 값을 리스트로 변환하여 할당
print(f"{var_y}는 {type(var_y)}", end="\n" + "-" *50 + "\n")

var_y = tuple(var_x) # var_y에 var_x의 값을 튜플로 변환하여 할당
print(f"{var_y}는 {type(var_y)}", end="\n" + "-" *50 + "\n")

var_y = set(var_x) # var_y에 var_x의 값을 집합으로 변환하여 할당
print(f"{var_y}는 {type(var_y)}")

range(-10, 0, 2)는 <class 'range'>
--------------------------------------------------
[-10, -8, -6, -4, -2]는 <class 'list'>
--------------------------------------------------
(-10, -8, -6, -4, -2)는 <class 'tuple'>
--------------------------------------------------
{-10, -8, -6, -4, -2}는 <class 'set'>

In [116]:
var_x = "abcdefad"
print(f"{var_x}는 {type(var_x)}", end="\n" + "-" *50 + "\n")

var_y = list(var_x) # 리스트로
print(f"{var_y}는 {type(var_y)}", end="\n" + "-" *50 + "\n")

var_y = tuple(var_x) # 튜플로
print(f"{var_y}는 {type(var_y)}", end="\n" + "-" *50 + "\n")

var_y = set(var_x) # 집합으로
print(f"{var_y}는 {type(var_y)}")

abcdefad는 <class 'str'>
--------------------------------------------------
['a', 'b', 'c', 'd', 'e', 'f', 'a', 'd']는 <class 'list'>
--------------------------------------------------
('a', 'b', 'c', 'd', 'e', 'f', 'a', 'd')는 <class 'tuple'>
--------------------------------------------------
{'d', 'b', 'c', 'e', 'f', 'a'}는 <class 'set'>