In [92]:
var_x= '홍익대'
print(var_x)
print(id(var_x))

홍익대
1657323475760

In [93]:
var_x= '홍익대학교'
print(var_x)
print(id(var_x))

홍익대학교
1657323477680

In [94]:
# 변수 var_x와 동일한 데이터를 저장했지만 다른 메모리에 출력됨

var_y='홍익대'
print(var_y)
print(id(var_y))

홍익대
1657323457392

In [95]:
var_z1=123
var_z2=[1, 2, 3, 4, 5]

In [96]:
del var_x
#변수 삭제하고 싶을 때 del

In [97]:
# print()함수

print('서은빈', 'c331296', '경영학과', sep=':')

print('서은빈', 'c331296', '경영학과', sep=':', end='\t*********\n')

서은빈:c331296:경영학과
서은빈:c331296:경영학과	*********

In [98]:
# 이스케이프 문자
## \n : 줄바꿈
## \t : 탭
## \\ : \출력
## \' : '출력

print('이름 : 서은빈\n학번 : C331296\n학과 : 경영학과')

이름 : 서은빈
학번 : C331296
학과 : 경영학과

In [99]:
print('이름\t학번\t학과')
print('서은빈\tC331296\t경영학과')

이름	학번	학과
서은빈	C331296	경영학과

In [100]:
# f-string
## f'{변수명}' : 변수의 값 출력
## f'{변수명 =}' : 변수의 값과 변수명 출력

var_y= 54321
print(f'{var_y}', end='\n-----------------\n')
print(f'{var_y=}', end='\n-----------------\n')
print(f'var_y ={var_y}')

54321
-----------------
var_y=54321
-----------------
var_y =54321

In [101]:
# f'{변수명: 서식}
## 정렬번호 : 없음-왼쪽, ^-가운데, >-오른쪽
## 서식지정자 : 문자열-s, 정수-d, 실수-f
## 소수점 자릿수 지정 : 구분자(:), 오른편에. 자릿수 f를 시용

var_x = 2003
var_y = 2003.331296

print(f'{var_x:d}') # 정수형이므로 d 사용
print(f'{var_x:10d}') # 총 10개의 자리에 표현
print(f'{var_x:<10d}') # chd 10개의 자리에 왼쪽 정렬하여 표현
print(f'{var_y:f}') # 실수형이므로 f 사용
print(f'{var_y:.0f}') # 정수만 출력
print(f'{var_y:.5f}') # 소수점 5자리까지 출력
print(f'{var_y:^20.3f}') # 20자리에 가운데 정렬하여 소수점 3자리까지 출력

2003
      2003
2003
2003.331296
2003
2003.33130
      2003.331

In [102]:
# 데이터 유형
## 숫자

a=3
b=5
print(a+b)

8

In [103]:
## 문자열

name = "은빈"
greeting = "Hello, " + name # 문자열 합치기
print(greeting)

Hello, 은빈

In [104]:
## 리스트 (여러 개의 값을 순서대로 모은 자료형)
### 각 값은 인덱스(순서)로 접근할 수 있음

var_a = "1", "2", "3", "4", "5"
print(var_a[0]) #리스트에서 첫 번째 값
print(var_a[3]) #리스트에서 네 번째 값

1
4

In [105]:
## 튜플 (리스트와 유사하나 데이터 변경 불가)

var_b = (10, 20)
print(var_b)

(10, 20)

In [106]:
## 딕셔너리 (키와 값을 쌍으로 묶어서 저장하는 자료형)
### 키를 사용하여 값을 조회할 수 있음

var_c= {"이름" : "서은빈", "학번" : "C331296"}
print(var_c["이름"])
print(var_c["학번"])

서은빈
C331296

In [107]:
## 집합 (중복된 값이 없는 자료형)
### 순서가 없고 모든 값이 유일-중복된 값 자동으로 제거해줌

var_d= {1, 2, 3, 3, 4, 5}
print(var_d) #중복값 제거

{1, 2, 3, 4, 5}

In [108]:
## 불린 (참과 거짓 값을 나타내는 자료형)
### 주로 조건문에서 사용됨

is_valid = True
is_approved = False

if is_valid :
    print("valid")

else :
    print("Invalid")

valid

In [109]:
# none (값이 없음을 나타내는 특수한 자료형)
### 어떤 변수에 값이 아직 장해지지 않았을 때 사용

result = None
if result is None:
    print("결과가 없습니다")

결과가 없습니다

In [110]:
# mutable (원소의 수정 가능한 자료형)
### 리스트(List), 딕셔너리(Dictionary)

## : 리스트
x_list= ["abcde", 12345]
print(f'Before: {x_list=}') # 원소 변경 전
x_list[1]= "fghij" # 인덱스 1 원소를 변경
print(f'After: {x_list=}') # 원소 변경 후

Before: x_list=['abcde', 12345]
After: x_list=['abcde', 'fghij']

In [111]:
## : 딕셔너리
x_dict= {"name" : "서은빈", "생년월일" : 20030621, "과목" : "기업과 경영"}
print(f'Before : {x_dict=}') # 원소 변경 전
x_dict["과목"] = "비즈니스 프로그래밍" # key가 "과목"인 원소를 변경
print(f'After : {x_dict=}') # 원소 변경 후

Before : x_dict={'name': '서은빈', '생년월일': 20030621, '과목': '기업과 경영'}
After : x_dict={'name': '서은빈', '생년월일': 20030621, '과목': '비즈니스 프로그래밍'}

In [112]:
# immutable (원소의 수정이 불가능한 자료형)
### 문자열(String), 튜플(Tuple)

## : 문자열-> 원소 바꾸기 불가
### try~except 구문 (에러 발생시, 커널을 중지시키기 때문에 중지되지 않도록 사용함)

x_str= "abcde"
print(f'Before:{x_str}')

try:
    x_str[1] = "2" # 인덱스 1 원소를 "2"로 변경 but 문자열은 immutable
except TypeError as e: # 에러 발생시 에러 메세지를 e에 할당당
    print(f'Error : {e}')

print(f'After : {x_str=}')

Before:abcde
Error : 'str' object does not support item assignment
After : x_str='abcde'

In [113]:
## : 튜플-> 원소 바꾸기 불가

x_tuple= {"abcde", 12345}
print(f'Before:{x_tuple}')

try:
    x_tuple[1] = "fghij" # 인덱스 1 원소를 "2"로 변경 but 문자열은 immutable
except TypeError as e: # 에러 발생시 에러 메세지를 e에 할당당
    print(f'Error : {e}')

print(f'After : {x_tuple=}')

Before:{12345, 'abcde'}
Error : 'set' object does not support item assignment
After : x_tuple={12345, 'abcde'}

In [114]:
# 자료형 변환
## 단일 자료형 변환 함수

### int() : 정수형으로 전환
### float() : 실수형으로 전환
### str() : 문자열로 전환

var_x = 12345
print(f"{var_x}는 {type(var_x)}", end="\n" + "-" *50 + "\n")

var_y = float(var_x)
print(f"{var_y}는 {type(var_y)}", end="\n" + "-" *50 + "\n")

var_y = str(var_x)
print(f"{var_y}는 {type(var_y)}", end="\n" + "-" *50 + "\n")

var_y = bool(var_x)
print(f"{var_y}는 {type(var_y)}")

12345는 <class 'int'>
--------------------------------------------------
12345.0는 <class 'float'>
--------------------------------------------------
12345는 <class 'str'>
--------------------------------------------------
True는 <class 'bool'>

In [115]:
## iterable 자료형 변환 함수 (반복 가능한 자료형)
## list() : 리스트로 변환
## tuple() : 튜플로 변환
## dict() : 딕셔너리로 변환
## set() : 집합으로 변환

## range()함수 (연속된 정수를 생성하는 함수로서 iterable 자료형 변환)
### range(시작, 끝, 증가폭)
### 시작은 포함, 끝은 미포함
### 증가폭은 생략 가능하며, 생략시 1로 설정

var_x = range(-10, 0, 2) # var_x에 -10부터 0까지 2씩 증가하는 range 객체
print(f"{var_x}는 {type(var_x)}", end="\n" + "-" *50 + "\n")

var_y = list(var_x) # var_y에 var_x의 값을 리스트로 변환하여 할당
print(f"{var_y}는 {type(var_y)}", end="\n" + "-" *50 + "\n")

var_y = tuple(var_x) # var_y에 var_x의 값을 튜플로 변환하여 할당
print(f"{var_y}는 {type(var_y)}", end="\n" + "-" *50 + "\n")

var_y = set(var_x) # var_y에 var_x의 값을 집합으로 변환하여 할당
print(f"{var_y}는 {type(var_y)}")

range(-10, 0, 2)는 <class 'range'>
--------------------------------------------------
[-10, -8, -6, -4, -2]는 <class 'list'>
--------------------------------------------------
(-10, -8, -6, -4, -2)는 <class 'tuple'>
--------------------------------------------------
{-10, -8, -6, -4, -2}는 <class 'set'>

In [116]:
var_x = "abcdefad"
print(f"{var_x}는 {type(var_x)}", end="\n" + "-" *50 + "\n")

var_y = list(var_x) # 리스트로
print(f"{var_y}는 {type(var_y)}", end="\n" + "-" *50 + "\n")

var_y = tuple(var_x) # 튜플로
print(f"{var_y}는 {type(var_y)}", end="\n" + "-" *50 + "\n")

var_y = set(var_x) # 집합으로
print(f"{var_y}는 {type(var_y)}")

abcdefad는 <class 'str'>
--------------------------------------------------
['a', 'b', 'c', 'd', 'e', 'f', 'a', 'd']는 <class 'list'>
--------------------------------------------------
('a', 'b', 'c', 'd', 'e', 'f', 'a', 'd')는 <class 'tuple'>
--------------------------------------------------
{'d', 'b', 'c', 'e', 'f', 'a'}는 <class 'set'>

In [117]:
# 데이터의 연산
## + : 덧셈, - : 뺄셈, * : 곱셈, / : 나눗셈
## // : 몫, % : 나머지, ** :거듭제곱

print(f'{2+5=}')
print(f'{1.5+5=}')
print(f'{"2"+"5"= }')

2+5=7
1.5+5=6.5
"2"+"5"= '25'

In [118]:
print(f'{2-5= }') # 뺼셈
print(f'{2*5= }') # 곱셉
print(f'{2/5= }') # 나눗셈
print(f'{50//2= }') # 몫
print(f'{50%2= }') # 나머지
print(f'{2**5= }') # 거듭제곱

2-5= -3
2*5= 10
2/5= 0.4
50//2= 25
50%2= 0
2**5= 32

In [119]:
var_x = 'Abc' # 문자열
var_y = [100, 2, 3] # 리스트

print(f'{var_x + var_x= }')
print(f'{var_y + var_y= }')
print(f'{var_x * 3= }')
print(f'{var_y * 3= }')

var_x + var_x= 'AbcAbc'
var_y + var_y= [100, 2, 3, 100, 2, 3]
var_x * 3= 'AbcAbcAbc'
var_y * 3= [100, 2, 3, 100, 2, 3, 100, 2, 3]

In [120]:
# 비교 연산
## == : 같다, != : 같지 않다
## > , < : 크다, 작다
## >=, <= : 크거나 같다, 작거나 같다

print(f'{3==5 =}') # 같다
print(f'{3!=5 =}') # 같지 않다
print(f'{3>5 =}') # 크다
print(f'{3<5 =}') # 작다
print(f'{3>=5 =}') # 크거나 같다
print(f'{3<=5 =}') # 작거나 같다

3==5 =False
3!=5 =True
3>5 =False
3<5 =True
3>=5 =False
3<=5 =True

In [121]:
var_y = [1, 2, 3, 4, 5]

print(f'{var_y == [1, 2, 3, 4, 5]=}')
print(f'{var_y != [1, 2, 3, 4, 5]=}')
print(f'{var_y == [1, 2, 3]=}')
print(f'{var_y != [1, 2, 3]=}')
print(f'{var_y >= [1, 2, 3]=}')
print(f'{var_y <= [1, 2, 3]=}')

var_y == [1, 2, 3, 4, 5]=True
var_y != [1, 2, 3, 4, 5]=False
var_y == [1, 2, 3]=False
var_y != [1, 2, 3]=True
var_y >= [1, 2, 3]=True
var_y <= [1, 2, 3]=False

In [122]:
# 논리연산
## and : 논리곱, 둘 다 참일 때만 참
## or : 논리합, 둘 중 하나만 참이어도 참
## not : 논리부정, 참이면 거짓, 거짓이면 참

var_x = True
var_y = (15 > 20)
print(f'{var_y =}')
print(f'{var_x and var_y =}')
print(f'{var_x or var_y =}')
print(f'{not var_x =}')

var_y =False
var_x and var_y =False
var_x or var_y =True
not var_x =False

In [123]:
# 멤버십 연산
## in : 포함되어 있으면 참
### not in : 포함되어 있지 않으면 참

var_y = [1, 2, 3, 4, 5]
print(f'{(1 in var_y)=}')
print(f'{("1" in var_y)=}')
print(f'{(1 not in var_y)=}')
print(f'{(7 not in var_y)=}')

(1 in var_y)=True
("1" in var_y)=False
(1 not in var_y)=False
(7 not in var_y)=True

In [124]:
# 식별 연산
## is : 동일한 객체(동일한 주소를 갖는가)이면 참
## is not : 동일한 객체가 아니면 참
var_x = 10
print(f'{(var_x==10)=}')
print(f'{(var_x is 10) =}')

(var_x==10)=True
(var_x is 10) =True

<>:6: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:6: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\서우빈\AppData\Local\Temp\ipykernel_24144\554646808.py:6: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(f'{(var_x is 10) =}')

In [125]:
var_x = 100
var_y = 100.0
var_z = var_x
print(f'{(var_x is var_y)=}')
print(f'{(var_x is var_z) =}')
print(f'{(var_x is not var_y)=}')
print(f'{(var_x is not var_z) =}')

(var_x is var_y)=False
(var_x is var_z) =True
(var_x is not var_y)=True
(var_x is not var_z) =False

In [126]:
# 복합 대입 연산

## x += a : x = x + a
## x -= a : x = x - a
## x *= a : x = x * a
## x /= a : x = x / a
## x //= a : x = x // a
## x %= a : x = x % a
## x **= a : x = x ** a

var_x = 1
var_x += 5
# var_x = var_x + 5

print(var_x)

6

In [127]:
var_x = 10
var_x += 10; print(var_x)
var_x -= 2; print(var_x)
var_x *= 2; print(var_x)
var_x /= 2; print(var_x)
var_x //= 2; print(var_x)
var_x %= 2; print(var_x)
var_x **= 2; print(var_x)

20
18
36
18.0
9.0
1.0
1.0

In [128]:
# 연산의 우선순위
## (), **, *, /, //, %, +, -, ==, !=, >, <, >=, <=, not, and, or
## 가능하면, 괄호()를 사용하여 연산의 우선순위를 명확히 하는 것이 좋음

print(2**3+5)
print(2**(3+5))
print(2+3<=4*5)
print(not 2+3<=4*5)
print(not (2+3)<=(4*5))

13
256
True
False
False

In [129]:
#응용1

# 과일과 가격을 저장할 리스트
fruits = ["사과", "딸기", "멜론", "배", "복숭아"]
prices = [3000, 6000, 11000, 5000, 8000]

# 구입할 과일과 수량을 딕셔너리로 저장
purchase = { "멜론": 3, "딸기": 1, "복숭아": 1}

# 총 금액 계산
total_price = (prices[2] * 3) + prices[1] + prices[4]

print(f"총 금액은 {total_price}원입니다.")

# 응용 설명:
## 같은 과일을 여러 개 구매하는 경우, 'purchase' 딕셔너리의 값을 활용함
## 과일 이름에 맞는 가격을 찾아 곱한 뒤, 이를 더하는 방식으로 가격을 계산함

총 금액은 47000원입니다.

In [130]:
#응용2

students = [{"name": "박준휘", "bd": "19930326", "age": 32},
    {"name": "윤승우", "bd": "19900521", "age": 34},
    {"name": "임준혁", "bd": "19881013", "age": 36},
    {"name": "신은호", "bd": "19951222", "age": 29},
    {"name": "한재아", "bd": "19921228", "age": 32},
    {"name": "송영미", "bd": "19931013", "age": 31}]

# 학생들의 나이 비교
for student in students:
    if student["age"] > oldest_student["age"]:
        oldest_student = student
    if student["age"] < youngest_student["age"]:
        youngest_student = student

# 결과 출력
print("가장 나이가 많은 사람:")
print(f"이름: {oldest_student['name']}, 생년월일: {oldest_student['bd']}, 나이: {oldest_student['age']}", end="\n" + "-" *50 + "\n")

print("가장 나이가 적은 사람:")
print(f"이름: {youngest_student['name']}, 생년월일: {youngest_student['bd']}, 나이: {youngest_student['age']}", end="\n" + "-" *50 + "\n")

# 학생들의 나이 정보를 기반으로, 'oldest_student'와 'youngest_student'를 찾음
# 코드에서 `oldest_student`와 `youngest_student`는 비교를 통해 나이가 가장 많은 사람과 가장 적은 사람을 찾는 변수

가장 나이가 많은 사람:
이름: 임준혁, 생년월일: 19881013, 나이: 36
--------------------------------------------------
가장 나이가 적은 사람:
이름: 신은호, 생년월일: 19951222, 나이: 29
--------------------------------------------------